# IPL Match data analysis

In [1]:
#1.Data cleaning
  #Find all null values in dataset and Remove column that have large no of missing values?
  #Find all null values in dataset and fill with mean of that column?
  #Find city have different names and replace it with original name?
  #Find team have a multiple names and replace it with original name?
#2.Find Total matches played by each city?
#3.Find Total Matches Played by each team?
#4.Find Total Matches Played by each stedium/venue?
#5.Find Total no of times toss won by each team?
#6.Find How many times team select field first?
#7.Find How many times team won by chasing?
#8.Find Total matches won by each team?
#9.Find How many times each team won the toss and how many times they select to bat first?
#10.Find How many times team select field first when they won matches?
#11.Find player who won most man of the matches?
#12.Find how many matches won by more than 100 runs?

Step 1:- Import required Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

Step 2:- Import given dataset

In [3]:
df =pd.read_csv('IPL Matches 2008-2020.csv')

Step 3:- Viewing data

In [4]:
#Check diamention of dataset
df.shape

(816, 17)

In [5]:
#View first & last 5 rows
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [6]:
#To view Index, data types, memory use
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [209]:
#View first 5 rows
df.iloc[0:5]

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [7]:
df.describe()

                 id  neutral_venue  result_margin
count  8.160000e+02     816.000000     799.000000
mean   7.563496e+05       0.094363      17.321652
std    3.058943e+05       0.292512      22.068427
min    3.359820e+05       0.000000       1.000000
25%    5.012278e+05       0.000000       6.000000
50%    7.292980e+05       0.000000       8.000000
75%    1.082626e+06       0.000000      19.500000
max    1.237181e+06       1.000000     146.000000

Step 4:- Cleaninig Data

In [8]:
#Check data containing any null value
df.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [9]:
#Here method column containing huge amount of missing value so we delete this column
df.drop(columns = 'method', inplace =True)

In [10]:
#Check new diamentions of data set
df.shape

(816, 16)

In [11]:
#Here second largest missing value column is result_margin, here we replace na vlaue with its mean value
df['result_margin'].value_counts()

6.0      95
7.0      94
5.0      85
8.0      67
4.0      53
         ..
42.0      1
47.0      1
87.0      1
130.0     1
69.0      1
Name: result_margin, Length: 91, dtype: int64

In [12]:
x = df['result_margin'].mean()
x

17.321652065081352

In [13]:
df['result_margin'].fillna(x,inplace =True)

In [14]:
#check result_margin column still containing any null value or not
df['result_margin'].isnull().sum()

0

In [15]:
#Here in winner column 4 rows having missing values that replace by "Draw"
df['winner'].fillna('Cancel due to rain', inplace = True)

In [16]:
df['winner'].isnull().sum()

0

In [17]:
#Here in result column there are 4 rows having missing value that replace by tie
df['result'].value_counts()

wickets    435
runs       364
tie         13
Name: result, dtype: int64

In [18]:
df['result'].fillna('tie', inplace= True)

In [19]:
#Here in result column there are 4 rows having missing value that replace by N
df['eliminator'].value_counts()

N    799
Y     13
Name: eliminator, dtype: int64

In [20]:
df['eliminator'].fillna('N', inplace =True)

In [21]:
df['eliminator'].isnull().sum()

0

In [22]:
df['city'].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Kochi', 'Indore', 'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi',
       'Abu Dhabi', nan, 'Rajkot', 'Kanpur', 'Bengaluru', 'Dubai',
       'Sharjah'], dtype=object)

In [23]:
#In this data Benguluru & Bangalore two different names are available to clear this use replace command
df.replace('Bengaluru', 'Bangalore',  inplace =True)

In [24]:
df['city'].isin(['bengluru']).sum()

0

In [25]:
df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [26]:
#Here pune warriors have 3 diffrenet names & Delhi Daredevils have 2 diffrenet names
df['team1'].replace('Rising Pune Supergiants','Pune Warriors',  inplace =True)
df['team2'].replace('Rising Pune Supergiants','Pune Warriors',  inplace =True)
df['toss_winner'].replace('Rising Pune Supergiants','Pune Warriors',  inplace =True)
df['winner'].replace('Rising Pune Supergiants','Pune Warriors',  inplace =True)

In [27]:
df['team1'].replace('Rising Pune Supergiant','Pune Warriors',  inplace =True)
df['team2'].replace('Rising Pune Supergiant','Pune Warriors',  inplace =True)
df['toss_winner'].replace('Rising Pune Supergiant','Pune Warriors',  inplace =True)
df['winner'].replace('Rising Pune Supergiant','Pune Warriors',  inplace =True)

In [28]:
df['team1'].replace('Delhi Daredevils','Delhi Capitals',  inplace =True)
df['team2'].replace('Delhi Daredevils','Delhi Capitals',  inplace =True)
df['toss_winner'].replace('Delhi Daredevils','Delhi Capitals',  inplace =True)
df['winner'].replace('Delhi Daredevils','Delhi Capitals',  inplace =True)

Total matches played by each city

In [29]:
df['city'].value_counts()

Mumbai            101
Bangalore          80
Kolkata            77
Delhi              74
Hyderabad          64
Chennai            57
Chandigarh         56
Jaipur             47
Pune               38
Abu Dhabi          29
Dubai              26
Durban             15
Visakhapatnam      13
Ahmedabad          12
Sharjah            12
Centurion          12
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Raipur              6
Kochi               5
Kanpur              4
Kimberley           3
Nagpur              3
East London         3
Bloemfontein        2
Name: city, dtype: int64

Total Matches Played by each team

In [30]:
x = df['team1'].value_counts()

In [31]:
a = df['team2'].value_counts()

In [32]:
y =x+a
y
y.sort_values(ascending = False)

Mumbai Indians                 203
Royal Challengers Bangalore    195
Delhi Capitals                 194
Kolkata Knight Riders          192
Kings XI Punjab                190
Chennai Super Kings            178
Rajasthan Royals               161
Sunrisers Hyderabad            124
Pune Warriors                   76
Deccan Chargers                 75
Gujarat Lions                   30
Kochi Tuskers Kerala            14
dtype: int64

Total no of times toss won by each team

In [33]:
#How many matches played on each stadium
df['venue'].value_counts()

Eden Gardens                                            77
Feroz Shah Kotla                                        74
Wankhede Stadium                                        73
M Chinnaswamy Stadium                                   65
Rajiv Gandhi International Stadium, Uppal               64
MA Chidambaram Stadium, Chepauk                         57
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Dubai International Cricket Stadium                     33
Sheikh Zayed Stadium                                    29
Punjab Cricket Association IS Bindra Stadium, Mohali    21
Maharashtra Cricket Association Stadium                 21
Sharjah Cricket Stadium                                 18
Dr DY Patil Sports Academy                              17
Subrata Roy Sahara Stadium                              17
M.Chinnaswamy Stadium                                   15
Kingsmead                                               15
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
Sardar Patel Stadium, Motera                            12
SuperSport Park                                         12
Brabourne Stadium                                       11
Saurashtra Cricket Association Stadium                  10
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
New Wanderers Stadium                                    8
Barabati Stadium                                         7
Newlands                                                 7
St George's Park                                         7
JSCA International Stadium Complex                       7
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
Buffalo Park                                             3
Vidarbha Cricket Association Stadium, Jamtha             3
De Beers Diamond Oval                                    3
OUTsurance Oval                                          2
Name: venue, dtype: int64

In [34]:
df['toss_winner'].value_counts()

Mumbai Indians                 106
Delhi Capitals                 100
Kolkata Knight Riders           98
Chennai Super Kings             97
Royal Challengers Bangalore     87
Rajasthan Royals                87
Kings XI Punjab                 85
Sunrisers Hyderabad             57
Deccan Chargers                 43
Pune Warriors                   33
Gujarat Lions                   15
Kochi Tuskers Kerala             8
Name: toss_winner, dtype: int64

In [35]:
#How many times team select field first
df['toss_decision'].value_counts()

field    496
bat      320
Name: toss_decision, dtype: int64

In [36]:
#How many times team won by chasing 
df['result'].value_counts()

wickets    435
runs       364
tie         17
Name: result, dtype: int64

Total matches won by each team

In [37]:
df['winner'].value_counts()

Mumbai Indians                 120
Chennai Super Kings            106
Kolkata Knight Riders           99
Royal Challengers Bangalore     91
Kings XI Punjab                 88
Delhi Capitals                  86
Rajasthan Royals                81
Sunrisers Hyderabad             66
Deccan Chargers                 29
Pune Warriors                   27
Gujarat Lions                   13
Kochi Tuskers Kerala             6
Cancel due to rain               4
Name: winner, dtype: int64

In [38]:
#How many times each team won the toss and how many times they select to bat first 
df.groupby('toss_winner').toss_decision.value_counts()

toss_winner                  toss_decision
Chennai Super Kings          bat              51
                             field            46
Deccan Chargers              bat              24
                             field            19
Delhi Capitals               field            64
                             bat              36
Gujarat Lions                field            14
                             bat               1
Kings XI Punjab              field            58
                             bat              27
Kochi Tuskers Kerala         field             5
                             bat               3
Kolkata Knight Riders        field            64
                             bat              34
Mumbai Indians               field            58
                             bat              48
Pune Warriors                field            19
                             bat              14
Rajasthan Royals             field            53
                             bat              34
Royal Challengers Bangalore  field            63
                             bat              24
Sunrisers Hyderabad          field            33
                             bat              24
Name: toss_decision, dtype: int64

How many times team select field first when they won matches

In [39]:
df.groupby('winner').toss_decision.value_counts()

winner                       toss_decision
Cancel due to rain           field             3
                             bat               1
Chennai Super Kings          bat              55
                             field            51
Deccan Chargers              field            15
                             bat              14
Delhi Capitals               field            52
                             bat              34
Gujarat Lions                field            11
                             bat               2
Kings XI Punjab              field            64
                             bat              24
Kochi Tuskers Kerala         field             6
Kolkata Knight Riders        field            61
                             bat              38
Mumbai Indians               field            70
                             bat              50
Pune Warriors                field            16
                             bat              11
Rajasthan Royals             field            44
                             bat              37
Royal Challengers Bangalore  field            60
                             bat              31
Sunrisers Hyderabad          field            43
                             bat              23
Name: toss_decision, dtype: int64

In [40]:
df['player_of_match'].value_counts()

AB de Villiers    23
CH Gayle          22
RG Sharma         18
DA Warner         17
MS Dhoni          17
                  ..
S Anirudha         1
M Kartik           1
R McLaren          1
RJ Harris          1
PJ Cummins         1
Name: player_of_match, Length: 233, dtype: int64

In [41]:
df[df['result_margin']>100]

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,Asad Rauf,RE Koertzen
55,336038,Mumbai,2008-05-30,SR Watson,Wankhede Stadium,0,Delhi Capitals,Rajasthan Royals,Delhi Capitals,field,Rajasthan Royals,runs,105.0,N,BF Bowden,RE Koertzen
236,501260,Dharamsala,2011-05-17,AC Gilchrist,Himachal Pradesh Cricket Association Stadium,0,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,bat,Kings XI Punjab,runs,111.0,N,Asad Rauf,AM Saheba
351,598027,Bangalore,2013-04-23,CH Gayle,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Pune Warriors,Pune Warriors,field,Royal Challengers Bangalore,runs,130.0,N,Aleem Dar,C Shamshuddin
497,829785,Bangalore,2015-05-06,CH Gayle,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Royal Challengers Bangalore,runs,138.0,N,RK Illingworth,VA Kulkarni
560,980987,Bangalore,2016-05-14,AB de Villiers,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,Royal Challengers Bangalore,runs,144.0,N,AY Dandekar,VK Sharma
620,1082635,Delhi,2017-05-06,LMP Simmons,Feroz Shah Kotla,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,field,Mumbai Indians,runs,146.0,N,Nitin Menon,CK Nandan
676,1136601,Kolkata,2018-05-09,Ishan Kishan,Eden Gardens,0,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,field,Mumbai Indians,runs,102.0,N,KN Ananthapadmanabhan,AK Chaudhary
706,1175366,Hyderabad,2019-03-31,JM Bairstow,"Rajiv Gandhi International Stadium, Uppal",0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,runs,118.0,N,KN Ananthapadmanabhan,S Ravi